:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  position: relative;
  padding: 5px;
  border-radius: 4px;
  border-left: 4px solid transparent;

  .user-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 16px;

    .name-email {
      display: flex;
      flex-direction: column;
    }

    .name {
      color: var(--color-gray-80);
      font-weight: 500;
    }

    .email {
      color: var(--color-gray-60);
    }
  }

  .permission {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .actions {
    position: absolute;
    right: 16px;

    display: flex;
    gap: 5px;
    height: 100%;
    align-items: center;
    transform: scale(0);
  }

  &:hover, &.checked {
    background-color: var(--color-gray-10);
    border-color: var(--color-brand-50);
  }

  &:hover {
    .actions {
      transform: scale(1);
    }
  }
}

@media only screen and (min-width: 550px) {
  :host {
    padding: 16px;
    gap: 12px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr 1fr;

    .user-info {
      gap: 12px;
      font-size: 14px;
      line-height: 21px;
    }

    .permission {
      display: block;
    }
  }
}