/* You can add global styles to this file, and also import other style files */
:root {
  --color-brand-50: #475DE5;
  --color-white: #FFFFFF;

  --color-gray-90: #171A22;
  --color-gray-80: #2D3748;
  --color-gray-70: #4A5568;
  --color-gray-60: #718096;
  --color-gray-50: #A0AEC0;
  --color-gray-40: #CBD5E0;
  --color-gray-30: #E2E8F0;
  --color-gray-10: #F7FAFC;

  --color-gray-bg: #E5E5E5;

  --color-pink-20: #FEDDEB;
  --color-pink-80: #710C36;
  --color-purple-20: #EFE2FE;
  --color-purple-80: #574195;
  --color-blue-20: #CEF1FD;
  --color-blue-80: #04546F;
  --color-orange-20: #FEEBC8;
  --color-orange-80: #91472C;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

*, body, html {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}
